.spinner-area {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    width: 60px;
    height: 60px;

    border: 8px solid rgba(0, 0, 0, .1);
    border-left-color: #15C3D6;
    border-radius: 50%;

    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}